  <table>
    <tr>
      <th>Операции</th>
      <th>Название лота</th>
      <th>Начальная цена</th>
      <th>Срок предоставления договора</th>
    </tr>
    <tr>
      <td>Show Edit Destroy</td>
      <td><%= lot.name %></td>
      <td><%= lot.start_price %></td>
      <td><%= lot.contract_delivery_date %></td>
    </tr>
  </table>