<h2>Новый лот</h2>
<% if @lot.errors.any? %>
    <div id="error_explanation">
      <h3>Следующие ошибки (<%= pluralize(@lot.errors.count, "шт.")%>) не дают сохранить лот:</h3>
      <ul>
        <% @lot.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<p class="operations"><%= link_to 'Back', @tender %></p>
<%= render 'form' %>


